name: Go CI Pipeline

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:

  test:
    name: Test (Go ${{ matrix.go_version }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go_version: ['1.18', '1.20', '1.22']

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: root
          POSTGRES_DB: root
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U root"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}

      - name: Wait for Postgres
        run: sleep 5

      - name: Run Tests
        run: go test ./...

  build:
    name: Build Application
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build
        run: go build ./...
